body {
	font-family: "Abel", sans;
}
label {
	font-weight: 700;
}
dt {
	font-weight: 900;
}
#show {
	display: none;
}
.fader {
	background-color: #69c;
	display: block;
	color: #fff;
}
.iterated {
	color: #060;
}